<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<div>
    <ul data-id="0" data-p="0">
     <li data-id="0"  style=""><span type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" >gdfgdfgdfgd</span></li>
    </ul>

</div>
<div id="cont"></div>

