
<div>
    <ul data-id="0" data-p="0">
     <li data-id="0"  ><span class="btn btn-danger" style="margin-top:30px;">gdfgdfgdfgd</span></li>
    </ul>
    <div id="cont"></div>
</div>
<div id="prop" style="position:absolute;width:100%;height:100%;display:none">
    <div  style="position:absolute;width:50px;height:100px;">
        <a class="btn btn-success">go to users</a>
        <br />
        <<a class="btn btn-success">go to department</a>
        <br />
        <a class="btn btn-success">go to users</a>
        <br />
    </div>
    
</div>
